<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title> whitheme - BusqueDev</title>
		<meta name="csrf-token" content="{{ csrf_token() }}" />
		<link rel="stylesheet" href="./css/style.css" />
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
			rel="stylesheet">
		<link rel="stylesheet" href="./css/responsive.css">
		<meta content="#1C1A3B" name="theme-color" />
		<!-- Android search bar color -->
		<meta content="{{$portfolio->name}} - Portfólio" property="og:title" />
		<meta content="{{$portfolio->name}} - Portfólio" name="twitter:title" />
		<meta content="{{env('APP_NAME')}}" property="og:site_name" />
		<meta content="{{$portfolio->name}} - Portfólio" itemprop="name" />
		<meta content="{{$portfolio->about}}" property="og:description" />
		<meta content="{{$portfolio->about}}" name="twitter:description" />
		<meta content="{{$portfolio->about}}" itemprop="description" />
		<meta content="{{$portfolio->about}}" name="description" />
		<meta
			name="keywords"
			content="he4rt, heartdevs, he4rtdevs, portfolio, portfólio, {{$portfolio->name}}"
		/>
		<meta name="language" content="pt-br" />
		<meta content="" />
		<meta content="website" property="og:type" />
		<meta content="summary_large_image" name="twitter:card" />
		<meta name="twitter:site" content="@busquedev" />
		<meta content="@xmatheos" name="twitter:creator" />
		<!-- Criador do template -->
	</head>
	<!-- <a class="navbar-brand" href="{{route('landing')}}">BusqueDev</a> -->
	<!-- <form
              id="formContact"
              class="form-contact"
              method="POST"
              action="/portfolio/{{$portfolio->id}}/messages"
            > -->
	<body>
		<div class="container">

			<div class="first-ctn">
				<a class="logo" href="{{route('landing')}}">
					<img src="./assets/logo.svg" alt="coracao he4rt">
					<h1>Busque Dev</h1>
				</a>
				<div id="left-menu">


					<img id="avatar" src="./assets/guts.jpg" alt="profile image">

					<div id="labels">
						<h2 id="name">Matheus</h2>
						<p id="title">Dev Fullesterco</p>
					</div>

					<div class="social-icons">
						<div id="grid-icons">
							<!-- <a href=""> <i class="fa fa-twitter"></i> </a>
							<a href=""><i class="fa fa-linkedin"></i></a>
							<a href=""><i class="fa fa-instagram"></i></a>
							<a href=""> <i class="fa fa-facebook"></i></a>
							<a href=""> <i class="fa fa-github"></i></a>
							<a href=""> <i class="fa fa-reddit"></i></a> -->
						</div>
					</div>
				</div>

				<div class="center-infos">
					<div class="about">
						<div class="up-label">
							<h2>Sobre</h2>
						</div>
						<p id="about">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
							Voluptatibus
							id praesentium at quos hic accusantium animi, eos officiis repudiandae.
							Quod excepturi beatae, accusantium fugit natus provident ad cumque
							cupiditate. Mollitia dolorem, ducimus vero culpa deserunt, quo impedit
							velit quae ea itaque a dolore odit numquam maxime reiciendis nesciunt
							commodi cumque?</p>
					</div>

					<div class="skills">
						<div class="up-label">
							<h2>Skills</h2>
						</div>

						<div class="skills-subCtn">
							<div id="grid-skills">

							</div>
						</div>

					</div>
				</div>
			</div>

			<div id="second-ctn">
				<h2>Experiência</h2>
			</div>

			<form class="third-ctn" method="POST"
				action="/portfolio/{{$portfolio->id}}/messages">
				<h2>Contato</h2>

				<div class="row-inputs">
					<div class="left-input">
						<div class="up-label">
							<h2>Nome</h2>
						</div>
						<input type="text" id="inputName"
							name="name" placeholder="Seu nome">
					</div>
					<div class="right-input">
						<div class="up-label">
							<h2>E-mail</h2>
						</div>
						<input type="email" id="inputEmail"
							name="from" placeholder="email@email.com">
					</div>
				</div>

				<div class="column-inputs">
					<div class="first-input">
						<div class="up-label">
							<h2>Assunto</h2>
						</div>
						<input type="text" id="inputSubject"
							name="subject"
							placeholder="Portfólio maneiro mnw | dont panic">
					</div>

					<div class="second-input">
						<div class="up-label">
							<h2>Mensagem</h2>
						</div>
						<textarea
							id="inputMessage"
							name="content"
							rows="3"
							placeholder="Digite sua mensagem aqui">
						</textarea>
					</div>

					<button id="submitForm"
						type="submit">ENVIAR</button>
				</div>

				<a href="https://github.com/xmatheus" target="_blank">Template by Matheus</a>
			</form>
		</div>
		<script src="./js/main.js"></script>
	</body>
</html>
