* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-width: 100vw;
	height: 100vh;

	background: linear-gradient(
		133.4deg,
		#8743cc 5.18%,
		rgba(104, 108, 192, 0.857409) 26.13%,
		rgba(3, 172, 204, 0.67891) 56.27%,
		rgba(10, 235, 157, 0.42) 100%
	);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 12px;
	border-radius: 20px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background: #8743cc;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: transparent;
	font-family: "Quicksand", sans-serif;
	overflow-x: hidden;
}

.first-ctn {
	width: 80vw;
	min-height: 100vh;

	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#left-menu {
	position: relative;

	width: 450px;
	height: 1100px;
	left: 0%;
	top: 52%;
	background-color: #fff;
	transform: translate(0%, -50%);
	border-radius: 28.5594px;

	overflow-y: auto;
	overflow-x: hidden;

	transition: all 0.4s ease-in-out;
}

#left-menu img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 350px;

	border-top-left-radius: 28.5594px;
	border-top-right-radius: 28.5594px;

	box-shadow: 0px 6px 13px rgba(32, 32, 32, 0.4);
}

#left-menu #labels {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#left-menu #labels h2 {
	margin-top: 35px;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	letter-spacing: 0.09em;

	color: #1c1b1b;
}

#left-menu #labels p {
	margin-top: 15px;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 34px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.09em;

	color: #4a4a4a;
}

#left-menu .social-icons {
	margin-top: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

#left-menu .social-icons #grid-icons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto;
	/* gap: 1px 1px; */
}

#grid-icons a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
	height: 90px;

	text-decoration: none;
	outline: none;
	cursor: pointer;
	color: #000;
	transition: all 0.3s ease-in-out;
}

#grid-icons i {
	font-size: 35px;
	transition: all 0.4s ease-in-out;
}

#grid-icons a:hover {
	transform: scale(1.3);
}

#grid-icons a:hover > i {
	color: #8743cc;
}

.logo {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;

	transform: translate(0%, -50%);
	left: 4%;
	top: 5%;
	width: 250px;
	height: 70px;
	cursor: pointer;
	z-index: 10;
	outline: none;
	text-decoration: none;
}

.logo h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 27px;

	text-align: center;
	letter-spacing: 0.11em;

	color: #ffffff;
	transition: all 0.5s ease-in-out;
	font-family: "Quicksand", sans-serif;
}

.logo:hover > img {
	filter: drop-shadow(0px 0px 1px rgb(41, 41, 41));
	transform: scale(1.1);
}

.logo img {
	height: 50px;
	width: 50px;
	object-fit: cover;
	object-position: center;
	margin-right: 15px;
	transition: all 0.5s ease-in-out;
	filter: drop-shadow(0px 0px 5px rgb(48, 47, 47));
}

.center-infos {
	position: relative;

	width: 95%;
	height: 1100px;
	left: 5%;
	top: 52%;
	transform: translate(0%, -50%);
	border-radius: 28.5594px;

	overflow-y: auto;
	overflow-x: hidden;

	transition: all 0.4s ease-in-out;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.about {
	width: 95%;
	height: 35%;
	background-color: #fff;
	border-radius: 28.5594px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about .up-label {
	position: absolute;
	width: 200px;
	height: 50px;
	left: 23px;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;

	background: #ffffff;
	box-shadow: inset 0px -1px 6px rgba(0, 0, 0, 0.25);
	border-radius: 10px 10px 0px 0px;
}

.about .up-label h2 {
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 25px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.09em;

	color: #464545;
}

.about p {
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 37.5px;
	/* or 150% */

	text-align: center;
	letter-spacing: 0.05em;

	color: #000000;
}

.skills {
	width: 95%;
	height: 43%;
	background-color: #fff;
	border-radius: 28.5594px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.skills-subCtn {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
}
.skills .up-label {
	position: absolute;
	z-index: 11;
	width: 200px;
	height: 50px;
	left: 23px;
	top: -10.6%;
	display: flex;
	justify-content: center;
	align-items: center;

	background: #ffffff;
	box-shadow: inset 0px -1px 6px rgba(0, 0, 0, 0.25);
	border-radius: 10px 10px 0px 0px;
}

.skills .up-label h2 {
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 25px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.09em;

	color: #464545;
}

#grid-skills {
	padding: 50px 50px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	/* grid-gap: 20px; */
	grid-row-gap: 40px;
}

#grid-skills .skill {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

#grid-skills .skill:hover > .up-ctn {
	cursor: pointer;
	color: #fff;
	background-color: #8743cc;
}
#grid-skills .skill:hover > .down-ctn {
	cursor: pointer;
	color: #fff;
	background-color: #8743cc;
}

#grid-skills .up-ctn {
	width: 250px;
	height: 65px;

	background: #ffffff;
	box-shadow: inset 0px -1px 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px 10px 0px 0px;

	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease-in-out;
}

#grid-skills .up-ctn h3 {
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 25px;

	text-align: center;
	letter-spacing: 0.09em;

	color: #464545;
}

#grid-skills .down-ctn {
	width: 250px;
	height: 65px;

	background: #ffffff;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
	border-radius: 0px 0px 10px 10px;

	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.4s ease-in-out;
}

#grid-skills .down-ctn p {
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;

	text-align: center;
	letter-spacing: 0.09em;

	color: #1e1c1c;
}

#second-ctn {
	width: 80vw;
	/* min-height: 100vh; */
	/* height: 100vh; */
	top: 10%;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

#second-ctn h2 {
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: 35px;
	/* identical to box height, or 70% */

	text-align: center;
	letter-spacing: 0.05em;

	color: #ffffff;
	/* margin-top: 50px; */
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.company-ctn {
	width: 100%;
	height: 850px;
}

.company-ctn:nth-of-type(1) {
	margin-top: 230px;
}

#second-ctn .company {
	position: relative;
	width: 100%;
	min-height: 500px;
	background-color: #fff;
	border-radius: 28.5594px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#second-ctn .company .up-label {
	position: absolute;
	width: 400px;
	height: 80px;
	left: 23px;
	top: -15.5%;
	display: flex;
	justify-content: center;
	align-items: center;

	background: #ffffff;
	box-shadow: inset 0px -1px 6px rgba(0, 0, 0, 0.25);
	border-radius: 10px 10px 0px 0px;
}

#second-ctn .company .up-label h2 {
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 25px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.09em;

	color: #464545;
}

#second-ctn .company p {
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 37.5px;
	padding: 40px;
	/* or 150% */

	text-align: center;
	letter-spacing: 0.05em;

	color: #000000;
}

#second-ctn .company .down-label {
	position: absolute;
	width: 400px;
	height: 80px;
	left: 23px;
	top: 99.5%;
	display: flex;
	justify-content: center;
	align-items: center;

	background: #272727;
	box-shadow: inset 0px -1px 6px rgba(0, 0, 0, 0.25);
	border-radius: 0px 0px 10px 10px;
}

#second-ctn .company .down-label h2 {
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 25px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.09em;

	color: #ffffff;
}

.third-ctn {
	width: 80vw;
	min-height: 100vh;
	/* height: 100vh; */

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.third-ctn a {
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 50px;

	text-align: center;
	letter-spacing: 0.09em;

	color: #20434b;
	outline: none;
	border: none;
	text-decoration: none;
	margin-bottom: 20px;
	cursor: pointer;
}

.third-ctn a:hover {
	filter: brightness(1.3);
}

.third-ctn h2 {
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: 35px;

	text-align: center;
	letter-spacing: 0.05em;

	margin: 150px 0px;
	color: #ffffff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.third-ctn .row-inputs {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.row-inputs input {
	width: 772px;
	height: 71px;
	left: 0px;
	top: 38px;
	outline: none;
	background: #ffffff;
	border-radius: 15px;
	border: none;
	padding: 10px 40px;
	font-size: 25px;
	color: rgb(63, 63, 63);
}
.left-input {
	position: relative;
}

.right-input {
	position: relative;
}
.row-inputs .up-label {
	position: absolute;
	width: 200px;
	height: 50px;
	left: 23px;
	top: -70%;
	display: flex;
	justify-content: center;
	align-items: center;

	background: #ffffff;
	box-shadow: inset 0px -1px 6px rgba(0, 0, 0, 0.25);
	border-radius: 10px 10px 0px 0px;
}

.row-inputs .up-label h2 {
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 25px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.09em;

	color: #464545;
}

.third-ctn .column-inputs {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: column;
	margin-top: 150px;
}

.first-input {
	position: relative;
	width: 100%;
}

.first-input input {
	width: 100%;
	height: 91px;
	left: 0px;
	top: 38px;
	outline: none;
	background: #ffffff;
	border-radius: 15px;
	border: none;
	padding: 10px 40px;
	font-size: 25px;
	color: rgb(63, 63, 63);
}
.first-input .up-label {
	position: absolute;
	width: 200px;
	height: 50px;
	left: 23px;
	top: -55%;
	display: flex;
	justify-content: center;
	align-items: center;

	background: #ffffff;
	box-shadow: inset 0px -1px 6px rgba(0, 0, 0, 0.25);
	border-radius: 10px 10px 0px 0px;
}

.first-input .up-label h2 {
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 25px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.09em;

	color: #464545;
}

.second-input {
	position: relative;
	width: 100%;
	margin-top: 150px;
}

.second-input textarea {
	min-width: 100%;
	min-height: 400px;
	max-height: 400px;
	left: 0px;
	top: 38px;
	outline: none;
	background: #ffffff;
	border-radius: 15px;
	border: none;
	text-align: start;
	padding: 35px 40px;
	font-size: 25px;
	color: rgb(63, 63, 63);
	font-family: "Quicksand", sans-serif;
}

.second-input .up-label {
	position: absolute;
	width: 200px;
	height: 50px;
	left: 23px;
	top: -12%;
	display: flex;
	justify-content: center;
	align-items: center;

	background: #ffffff;
	box-shadow: inset 0px -1px 6px rgba(0, 0, 0, 0.25);
	border-radius: 10px 10px 0px 0px;
}

.second-input .up-label h2 {
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 25px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.09em;

	color: #464545;
}

.column-inputs button {
	font-family: "Quicksand", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 50px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.09em;

	color: #ffffff;

	background: #347a8b;
	border-radius: 15px;

	margin: 70px 0px;
	width: 100%;
	height: 86px;
	outline: none;
	border: none;

	transition: all 0.4s ease-in-out;
	cursor: pointer;
}

.column-inputs button:hover {
	filter: brightness(0.6);
}
